body {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

/* header {

} */

main {
    position: relative;
    width: 90%;
    max-width: 500px;
    height: 500px;
    margin: 24px auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title {
    position: absolute;
    top: 0px;
}

.layers {
    position: absolute;
    width: 95%;
    height: 400px;

    background-color: #666;
    opacity: 0.2;

    display: flex;
    justify-content: center;
}

.dl {
    background-color: white;
    opacity: 0.5;
    position: absolute;
}

.dummy-layer3 {
    bottom: 120px;
    width: 55%;
    height: 270px;
}

.dummy-layer2 {
    bottom: 65px;
    width: 75%;
    height: 305px;
}

.dummy-layer1 {
    bottom: 10px;
    width: 95%;
    height: 340px;
}

#div-four {
    z-index: 10;
}

#div-three {
    z-index: 20;
}

#div-two {
    z-index: 30;
}

#div-front {
    z-index: 40;
}

header::after, main::after {
    content: "";
    display: table;
    clear: both;
}

#div-pageBottom {
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;

    z-index: 50;
}

#console {
    position: relative;
    padding:24px;
    display: flex;
    justify-content: center;
}

#timer {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    bottom: 10px;
    width: 225px;
    height: 90px;

    padding: 4px;
    border-radius: 12px;
}

#span-time {
    width: 100%;    
}

footer {
    /* position: fixed;
    bottom: 0px;
    width: 100%; */
    padding: 20px 0 10px 0;
    background-color:#333;
    color: #cccccc;
    /* text-align: center; */
    font-size: 12px;
    border-top: 3px solid #ccc;
}

.wf1 {
    border: 1px solid #333;
    background-color: #eee;
}

.wf2 {
    border: 1px solid #333;
    background-color: #ccc;
}

.wf3 {
    border: 1px solid #333;
    background-color: #777;
}

@media screen and (min-width: 640px) {
    
}