body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.8;
    color: #333;

    background-image: url('../images/congruent_pentagon.png');
    background-position: center;
    background-repeat: repeat;
}

b {
    font-weight: 700;
}

header {
    text-align: center;
}

main {
    position: relative;
    width: 90%;
    max-width: 600px;
    height: 500px;
    margin: 0 auto;
    padding-top: 80px;
    min-width: 350px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#console-content {
    width: 90%;
    max-width: 500px;
    height: 75px;
    padding: 6px 0;
    min-width: 350px;

    display: flex;
}

#title {
    position: absolute;
    top: 0px;
    font-family: 'Just Another Hand', sans-serif;
    font-size: 38px;
    color: #777;
}

.layers {
    position: absolute;
    width: 95%;
    height: 400px;

    display: flex;
    justify-content: center;
}

#div-four {
    z-index: 10;
}

#div-three {
    z-index: 20;
}

#div-two {
    z-index: 30;
}

#div-front {
    z-index: 40;
}

.card {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    border: 2px solid #444;
    box-shadow: 0px -1px 3px #777;
    background-color: #fefefe;
    /* opacity: 0.75; */
}

.show {
    display: flex;
}

#card-alpha {
    width: 50%;
    height: 235px;
    bottom: 125px;
}

/* header::after, main::after {
    content: "";
    display: table;
    clear: both;
} */

#div-pageBottom {
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    min-width: 350px;

    z-index: 50;
}

#console {
    position: relative;
    display: flex;
    justify-content: center;

    background-color: #b1f6cb;
    border-top: 3px solid #fdf;
}

#timer {
    position: relative;
    float: left;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    bottom: 22px;
    width: 175px;
    height: 90px;

    padding: 4px;
    border-radius: 12px;
}

#span-time {
    width: 100%;    
}

.button {
    display: flex;
    width: 75px;
    height: 75px;
    margin-left: 5px;
    float: left;
    flex-grow: 1;
    border-radius: 4px;
}

.btn-label {
    align-self: center;
    margin: 0 auto;
    font-size: 32px;
    font-weight: 600;
}

footer {
    /* position: fixed;
    bottom: 0px;
    width: 100%; */
    padding: 20px 0 10px 0;
    background-color:#333;
    color: #cccccc;
    /* text-align: center; */
    font-size: 12px;
    border-top: 3px solid #ccc;
}

.wf1 {
    border: 1px solid #333;
    background-color: #eee;
}

.wf2 {
    border: 1px solid #333;
    background-color: #ccc;
}

.wf3 {
    border: 1px solid #333;
    background-color: #777;
}

@media screen and (min-width: 640px) {
    
}